.box-footer {
  background-color: #74b9e6;
  .content {
    width: 1300px;
    margin: auto;
    padding: 10px 0px 20px 0px;
    .title-footer {
      font-size: 15px;
      font-weight: 600;
      color: #fff;
    }
  }
}
