.home-header-container {
  height: 80px;
  width: 1400px;
  margin: auto;
  padding: 0 40px;
  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    .left-content {
      width: 25%;
      display: flex;
      align-items: center;
      .header-logo {
        width: 100px;
        cursor: pointer;
      }
      i {
        font-size: 30px;
        color: grey;
        cursor: pointer;
      }
    }
    .center-content {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .child-content {
        h5 {
          margin: 0px;
        }
        .sub-title {
          margin: 0px;
          font-size: 13px;
        }
      }
    }
    .right-content {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      i {
        font-size: 30px;
        color: grey;
        cursor: pointer;
      }
      .support {
        display: flex;
        align-items: center;
        margin: 0px 20px;
        h5 {
          margin: 0px;
        }
      }
      .option-language {
        display: flex;
        align-items: center;
        .language {
          margin: 0px 10px;
          cursor: pointer;
          &.active {
            color: orange;
          }
        }
      }
    }
  }
}
